body
{
  height:600px;
}
div
{
  text-align:center;
}
.naviBar
{
  background-color: black;
  color:red;
  height:10%;
}
.menu {
  background-color: blue;
  color:yellow;
  float:left;
  width:30%;
  height:80%;
}
.content
{
  background-color: green;
  color:inherit;
  float:right;
  width:70%;
  height:80%;
}
.page
{
  background-color: orange;
  color:black;
  height:70%;
}
#name
{
  background-color:yellow;
  color:black;
}
