.intro
{
  color:cyan;
}
.desc
{
  color:yellow;
}
body
{
  background-color:black;
  color:white;
}
.static_pos
{
  position:static;
  color:yellow
}
.relative_pos
{
  position:relative;
  bottom:60px;
  left:400px;
  color:cyan;
}
.absolute_pos
{
  position:absolute;
  bottom:60px;
  left:400px;
  color:red;
}
.fixed_pos
{
  position:fixed;
  top:400;
}
.float_left
{
  float:left;
}
.float_right
{
  float:right;
}
.clear_both
{
  clear:both;
}
.clear_left
{
  clear:left;
}
ul
{
  background-color: blue;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}

li{
  float:left;
}
li a{
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  display:block;
}

li a:hover{
  background-color:dodgerblue;
  color:white;
  height:100%;
}
iframe{
  float:left;
  height:100%;
  
}
.sideOfFrame{
  left:30px;
  position:relative;
}
.alignCenter{
  text-align: center;
}
h1
{
  text-align= center;
  color:inherit;
}
#vbPage
{
  background-color:cyan;
  color:black;
  height:200px;
}
#cardPage
{
  background-color:yellow;
  color:black;
  height:40%;
  clear:both;
}
.infoPage
{
  text-align:center;
  height:100%;
  font-family: fantasy;
  border-radius: 20px;
}
